.cards {
  padding-top: 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
