.card__image {
  display: block;
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 10px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.card__title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 500;
  white-space: nowrap;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background: url("../images/heart.svg") no-repeat center;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
  transform: scale(1.15);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
